<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="eLearning is a modern and fully responsive Template by WebThemez.">
	<meta name="author" content="webThemez.com">
	<title>eLearning - Free Educational Responsive Web Template </title>
	<link rel="favicon" href="assets/images/favicon.png">
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<!-- Custom styles-->
	<link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link href='assets/css/login.css' rel='stylesheet' type='text/css'>
	<script src="assets/js/login.js" type="text/javascript" charset="utf-8" async defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
				<a class="navbar-brand" href="index.html">
					<img src="assets/images/logo.png" alt="Techro HTML5 template"></a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav pull-right mainNav">
						<li><a href="index.html">Home</a></li>
						<li><a href="profile.html">Profile</a></li>
						<li><a href="courses.html">Courses</a></li>


					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
		<!-- /.navbar -->

		<header id="head" class="secondary">
			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						<h1>LikeLynda</h1>
					</div>
				</div>
			</div>
		</header>

		<!-- container -->
		<section class="container">

			<div class="row">

				<!-- Article main content -->
				

				<!-- REGISTRATION FORM -->
				<div class="text-center" style="padding:50px 0">
					<div class="logo">register</div>
					<!-- Main Form -->
					<div class="login-form-1">
						<form id="register-form" class="text-left">
							<div class="login-form-main-message"></div>
							<div class="main-login-form">
								<div class="login-group">
									<div class="form-group">
										<label for="reg_username" class="sr-only">Email address</label>
										<input type="text" class="form-control" id="reg_username" name="reg_username" placeholder="username">
									</div>
									<div class="form-group">
										<label for="reg_password" class="sr-only">Password</label>
										<input type="password" class="form-control" id="reg_password" name="reg_password" placeholder="password">
									</div>

									<div class="form-group">
										<label for="reg_email" class="sr-only">Email</label>
										<input type="text" class="form-control" id="reg_email" name="reg_email" placeholder="email">
									</div>
									<div class="form-group">
										<label for="reg_fullname" class="sr-only">Country</label>
										<input type="text" class="form-control" id="reg_fullname" name="reg_fullname" placeholder="country">
									</div>

									<div class="form-group login-group-checkbox">
										<input type="radio" class="" name="reg_gender" id="male" placeholder="username">
										<label for="male">male</label>

										<input type="radio" class="" name="reg_gender" id="female" placeholder="username">
										<label for="female">female</label>
									</div>


								</div>
								<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
							</div>
							<div class="etc-login-form">
								<p>already have an account? <a href="#">login here</a></p>
							</div>
						</form>
					</div>
					<!-- end:Main Form -->
				</div>

				<!-- /Article -->



			</div>
		</section>
		<!-- /container -->

		<footer id="footer">
			<div class="container">
				<div class="social text-center">
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-dribbble"></i></a>
					<a href="#"><i class="fa fa-flickr"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>
				</div>

				<div class="clear"></div>
				<!--CLEAR FLOATS-->
			</div>
			<div class="footer2">
				<div class="container">
					<div class="row">

						<div class="col-md-6 panel">
							<div class="panel-body">
								<p class="simplenav">
									<a href="index.html">Home</a> | 
									<a href="profile.html">Profile</a> |
									<a href="courses.html">Courses</a> |

								</p>
							</div>
						</div>

						<div class="col-md-6 panel">
							<div class="panel-body">
								<p class="text-right">
									Copyright &copy; 2014. Template by <a href="http://webthemez.com/" rel="develop">WebThemez.com</a>
								</p>
							</div>
						</div>

					</div>
					<!-- /row of panels -->
				</div>
			</div>
		</footer>


		<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script src="assets/js/custom.js"></script>
	</body>
	</html>
